<div class="jumbotron home-top-jumbo">
  <div class="container">
    <h1 class="center">Welcome to Devign Hunt</h1>
    <p class="center">The only place to find your perfect developer or designer to work on your future projects.</p>
   <!--  <div>
      <p><a class="btn btn-primary btn-lg" ui-sref-active="active" ui-sref="login" role="button">Login</a></p>
      <p><a class="btn btn-primary btn-lg" ui-sref="signup" role="button">Sign Up</a></p>
    </div> -->
  </div>
</div>

<section class="home-users-section">
  <div class="container">
    <div>
      <h1>THIS IS GOING TO SHOW SOME MORE USERS</h1>
    </div>
  </div>
</section>

<section class="home-signup-section">
  <div>
    
  </div>
</section>

<section class="home-testi-section">
  <div class="container">
    <div>
      <h1>THIS IS GOING TO SHOW TESTIMONIALS - FAKE DATA</h1>
    </div>
  </div>
</section>

<footer>
  
</footer>
