<section class="user-top">
  <h1 class="user-title">{{ users.showUser.username }}</h1>

  <p>Your fullname is: {{ users.showUser.fullname }}</p>
  <p>Your email is: {{ users.showUser.email }}</p>
</section>

<h1>User Profile</h1>

  

<hr>
<h1>IDEA GETS SHOWN HERE!</h1>
<p><a class="btn btn-primary btn-lg" ui-sref-active="active" ui-sref="add_idea" role="button">Add Idea</a></p>


<!-- {{ users }} -->
<div>
  <ul>
    <li ng-repeat="ideas in users.userIdeas">
    {{ideas}}
      <div class="container">
        <div class="panel panel-default">
          <a class="panel-link" ui-sref="idea_show({ id:idea._id })">
            <div class="panel-body">
              <img ng-src="{{ideas.image}}">
              <h1>{{ ideas.name }}</h1>
              <p>{{ ideas.description }}</p>
            </div>
          </a>
        </div>
      </div>
    </li>
  </ul>
</div>