
<section style="background:linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('{{users.showUser.user_image}}') no-repeat center; background-size: cover;" class="user-top">

  <h1 class="user-title">{{ users.showUser.username }}</h1>
  <form ng-show="!users.showUser.user_image" id="signup" ng-submit="users.uploadProfilePic()">
    <div class="form-group">
      <label for="image">Profile Pic</label>
      <input required="required" type="file" ngf-select id="image" ng-model="users.file" name="file">
      <p class="help-block">Choose your profile image.</p>
      <button>Submit</button>
    </div>
  </form>
  <div>
    <img class="user-image" ng-src="{{users.showUser.user_image}}" ng-if="users.showUser.user_image">
  </div>
  <span class="banner-info"><h4>{{ users.showUser.fullname }}</h4></span>
  <p class="banner-info"><a class="btn btn-primary btn-lg" ui-sref-active="active" ui-sref="add_idea" role="button">Add Idea</a></p>
</section>

<!-- {{ users }} -->
<div>
  <ul>
    <li ng-repeat="ideas in users.userIdeas">
      <div class="container">
        <div class="panel panel-default idea-panel">
          <a class="panel-link" ui-sref="idea_show({ id:idea._id })">
            <div class="panel-body">
              <img class="idea-image" ng-src="{{ideas.image}}" ng-if="ideas.image">
              <h1>{{ ideas.name }}</h1>
              <p>{{ ideas.description }}</p>
            </div>
          </a>
        </div>
      </div>
    </li>
  </ul>
</div>