<div class="jumbotron">
  <div class="container">
    <h1 class="center">Welcome to Devigner Hunt</h1>
    <p class="center">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
    <div class="btn-group">
      <p><a class="btn btn-primary btn-lg" ui-sref-active="active" ui-sref="login" role="button">Login</a></p> 
      <p><a class="btn btn-primary btn-lg" ui-sref="signup" role="button">Sign Up</a></p> 
    </div>
  </div>
</div>
